{{ define "styles" }}
{{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/cv.scss" "dest" "css/cv.css") }}
{{ end }}


{{ define "main" }}
<!-- {{ $file := readFile "georgehoneywood-cv.html" }} -->
{{ $file := resources.Get "georgehoneywood-cv.html" }}
<!-- {{ printf "%#v" $file | safeHTML }} -->
{{ $file = $file.Content }}

<!-- strip out typst HTML boilerplate, we just need raw body -->
{{ $file = index (strings.Split $file "<body>\n    <div>\n      ") 1 }}
{{ $file = index (strings.Split $file "</div>\n  </body>") 0 }}
<!-- {{ printf "%#v" $file }} -->

<div class="flex-wrapper">
    <div class="post__container">
        <div class="post">
            <article class="post__content">
                
                <!-- {{ printf "%#v" . }}
                {{ printf "%#v" $ }} -->
                 <!-- TODO: also anchored headings -->
                {{ $file | safeHTML}}
                {{ partial "anchored-headings.html" .Content }}
            </article>
            <footer class="post__footer">
                {{ partial "social-icons.html" .}}
                <p>{{ replace .Site.Copyright "{year}" now.Year | safeHTML}}</p>
            </footer>
        </div>
    </div>
</div>
{{ end }}