@import "../main";
@import "../partials/post-list";

.tag__header {
  align-items: baseline;
  display: flex;
  margin: 0 auto 3rem;

  a,
  .separator {
    font-size: 1.5rem;
    color: var(--text-secondary);
  }

  a {
    text-decoration: none;
  }

  .separator {
    align-self: center;
    margin: 0 5px;
  }

  .tag__term {
    margin: 0;
  }
}
