.burger__container {
  height: $burgerContainerHeight;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  z-index: 2;
  right: 0;
  backdrop-filter: blur(3px);
  position: fixed;

  @media screen and (min-width: $medium) {
    display: none;
  }
}

// trick to make the burger have a partial background opacity
.burger__container::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: var(--bg);
  opacity: 0.4;
}

.burger {
  position: relative;
  width: $meatWidth;
  height: $meatWidth;
  cursor: pointer;
  background: none;
  border: none;
}

.burger__meat {
  position: absolute;
  width: $meatWidth;
  height: $meatHeight;
  top: calc(50% - #{$meatHeight} / 2);
  left: calc(50% - #{$meatWidth} / 2);
  transition: all 150ms ease-in;
  background-color: var(--text);
}

.burger__meat--1 {
  transform: translateY(-10px);
}

.burger__meat--2 {
  width: calc(#{$meatWidth} - 6px);
  margin-left: 6px;
}

.burger__meat--3 {
  transform: translateY(10px);
}

.nav--active .burger__meat--1 {
  transform: rotate(45deg);
}

.nav--active .burger__meat--2 {
  opacity: 0;
}

.nav--active .burger__meat--3 {
  transform: rotate(-45deg);
}
