$bg: "bg";
$bg-secondary: "bg-secondary";
$text: "text";
$link: "link";
$visited: "visited";

$theme-map: null;

$themes: (
  default: (
    bg: $white,
    text: $black,
    bg-secondary: darken($white, 1%),
    link: #0000ee,
    visited: #551a8b,
    // hover: $hover--light,
      // border: $border--light,,,,
  ),
  dark: (
    bg: #181a1b,
    text: #e8e6e3,
    bg-secondary: lighten(#181a1b, 20%),
    link: #58a6ff,
    visited: #c34abd,
    // hover: $hover--dark,
      // border: $border--dark,,,,
  ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
