@import "color-themes";

html,
body {
  @include themed() {
    color: t($text);
    background: t($bg);
  }

  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
