.social-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social-icons__link {
  padding: 0.8rem;

  .social-icons__icon {
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--text);
  }
}
