$navWidth: 100px;
$meatWidth: 28px;
$meatHeight: 2px;
$burgerContainerHeight: 4rem;

// colors
$black: #111;
$white: #fff;
$primary: #9013fe;
$lightGrey: #f7f7f7;
$greyTableBorder: #eeeeee;

// screenSizes
$medium: 800px;
$large: 1400px;
