$medium: 800px;

.burger__container {
    width: unset;
    right: 0;
    position: fixed;
    background: rgba($color: #ffffff, $alpha: 0.825);
}

.burger__meat--2 {
    position: relative;
    float: right;
}

.post {
    .details__list {
        margin-top: 1.5rem;
        font-size: smaller;
        opacity: 0.75;

        p {
            margin-top: 0;
        }

        .details__subject {
            font-style: italic;
        }
    }
}

main {
    @media screen and (max-width: ($medium - 1)) {
        padding-top: 4rem;
    }
}
