<div class="comments">
  <h3 class="comments__title">
    Comments:
  </h3>

  <p class="comments__help">
    Send me a comment by emailing <a href="mailto:comments@honeyfox.uk?subject={{ $.File.ContentBaseName  | urlize }}">comments@honeyfox.uk</a>, with the subject line "{{ $.File.ContentBaseName }}".
    {{/* You can use markdown for formatting. */}}
  </p>

  {{ $optBlock := dict "display" "block" }}

  {{/* this kinda sucks */}}
  {{ $comments := .Resources.GetMatch "comments.json" | default "{}" | transform.Unmarshal }}

  {{/*

  {{ range $comments }}
    <div class="comment">
      <div class="comment__author">
        <span class="comment__author-name">
          {{ with .from_name }}
            {{ . }}
          {{ else }}
            anon
          {{ end }}
        </span>
        <span class="commment__author-wrote">wrote at</span>
        <span class="comment__author-date">
          <time datetime="{{ .timestamp }}">
            {{ .timestamp | time.Format $.Site.Params.dateFormat }} 
          </time>
        </span>
      </div>
      <div class="comment__body">
        {{ .body | htmlEscape | $.Page.RenderString $optBlock }}
      </div>
    </div>
  {{ else }}
    <p>No comments yet.</p> 
  {{ end }}

  */}}

</div>
