<!-- <h3 style="margin-bottom: 1em;">
  Comments:
</h3>

<iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>

<form action="/comments/submit{{ .RelPermalink }}" method="post" target="hiddenFrame">
  <div class="flex-container" >
    <label for="name">name:</label>
    <input type="text" id="name" style="width: 150px;" name="name">
    <input type="submit" class="tag__link" style="margin-left: auto;" value="submit">
  </div>
  <textarea name="comment" placeholder="Write a comment..." style="width: 100%"></textarea>
  </br>

</form>

<div id="comments-container">
  <p class="details__subject">BBBBB</p>
</div> -->

<noscript><p>Sorry, comments require JavaScript...</p></noscript>

<script src="https://utteranc.es/client.js"
        repo="GeorgeHoneywood/george.honeywood.org.uk"
        issue-term="title"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>