{{ $image := .Page.Resources.GetMatch (printf "images/%s*" (.Get "path")) }}

{{ if $image }}
    {{ $options := .Get "options"}}
    {{ $method := .Get "method" }}

    {{ if eq $method "Fill" }}
        {{ .Scratch.Set "modified-image" ($image.Fill $options) }}
    {{ else if eq $method "Fit" }}
        {{ .Scratch.Set "modified-image" ($image.Fit $options) }}
    {{ else if eq $method "Resize" }}
        {{ .Scratch.Set "modified-image" ($image.Resize $options) }}
    {{ else }}
        {{/* passing through resources.Fingerprint means hash is included in URL, which is useful for cache busting */}}
        {{ .Scratch.Set "modified-image" ($image | resources.Fingerprint "md5")  }}
    {{ end }}

    <figure>
        <img
            style="{{ with (.Get "width") }}width: {{ . }};{{ end }}"
            src='{{ (.Scratch.Get "modified-image").RelPermalink }}'
            alt='{{ with (.Get "alt") }}
                {{- . -}}
            {{else}}
                {{ warnf "no alt found for '%s' on page '%s'" (.Get "path") (.Page.Path)}}
            {{end}}'
        />
        {{ with (.Get "caption") }}
            <figcaption>
                {{ . | markdownify }}
            </figcaption>
        {{end}}
    </figure>
{{ else }}
    {{ errorf "no image found for '%s' on page '%s':\noptions are: %s" (.Get "path") (.Page.Path) (.Page.Resources.ByType "image" )}}
{{ end }}