{{ $image := .Page.Resources.GetMatch (printf "images/%s*" (.Get "path")) }}

{{ if $image }}
    {{ $options := .Get "options"}}
    {{ $method := .Get "method" }}

    {{ if eq $method "Fill" }}
        {{ .Scratch.Set "modified-image" ($image.Fill $options) }}
    {{ else if eq $method "Fit" }}
        {{ .Scratch.Set "modified-image" ($image.Fit $options) }}
    {{ else if eq $method "Resize" }}
        {{ .Scratch.Set "modified-image" ($image.Resize $options) }}
    {{ else }}
        {{ .Scratch.Set "modified-image" ($image) }}
    {{ end }}

    <img
        class="blog-image"
        style="width: {{default "100%" (.Get "width")}}; float: {{default "none" ( .Get "float")}}; margin-top: 20px"
        src='{{ (.Scratch.Get "modified-image").Permalink }}'
        alt='{{ .Get "alt" }}'
    >
{{ else }}
    {{ errorf "no image found for '%s' on page '%s':\noptions are: %s" (.Get "path") (.Page.Path) (.Page.Resources)}}
{{ end }}